#main{
    padding: 0;
    margin: 0;
    background-image: url(https://github.com/GuillermoCruz93/Imagenes/blob/master/Fondos/double-bubble-dark.png?raw=true);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
    justify-items: center;
}

#title-box{
    grid-column: 1/13;
    color: beige;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 1em 0 1em 0;
    width: 100vw;
}
#title{
    font-size: 2.8em;
}
#ejemplo{
    font-style: italic;
    font-size: 1.2em;
}

#img-div{
    grid-column: 1/13;
    background: rgba(146, 146, 146, 0.5);
    padding: 2em 1em 0em 1em;
    margin: 1em 1em 1em 1em;
    font-size: .8em;
    font-style: italic;
    text-align: justify;
    color: seashell;
    border-radius: 12px;
    max-width: 900px;
}

#image{
    margin-bottom: 1em;
}

#tribute-info{
    grid-column: 1/13;
    color: seashell;
    margin: 1em 1em 1em 1em;
    text-align: justify;
    max-width: 900px;
}

#pie-pagina{
    width: 100vw;
    background: black;
    color: seashell;
    text-align: center;
    grid-column: 1/13;
    padding-top: 1em;
}